
.radial {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: #ff4081;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .fab {
    border: none;
    color: white;
    background-color: #ff4081;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .fab:hover {
    background-color: #f30053;
  }
  
  #plus {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 7px;
  }
  
  #fa-1, #fa-2, #fa-3 {
    position: fixed;
    background: transparent;
    border: none;
    right: 25px;
    bottom: 25px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: white;
  }
  #fa-1:hover, #fa-2:hover, #fa-3:hover {
    tansition-delay: 0s;
    color: #ff8db3;
  }
  
  .radial.open {
    height: 340px;
    width:  340px;
    right: -125px;
    bottom: -125px;
  }
  .radial.open .fab {
    background-color: #f30053;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .radial.open #plus {
    -webkit-transform: rotateZ(135deg) translate(-1px, 3px);
            transform: rotateZ(135deg) translate(-1px, 3px);
  }
  .radial.open #fa-1 {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transform: translate(-110px, 10px);
            transform: translate(-110px, 10px);
  }
  .radial.open #fa-2 {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-transform: translate(-85px, -85px);
            transform: translate(-85px, -85px);
  }
  .radial.open #fa-3 {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    -webkit-transform: translate(10px, -110px);
            transform: translate(10px, -110px);
  }

  .radial.open{
    background: steelblue;
  }
 /* music modal background */
  .modal-content{
    background: linear-gradient(84deg, #041336, #169e9f);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
  }

  .profile-page{
    background: linear-gradient(84deg, #000000, #dff800);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
  }
  
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}